* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #F9F5F4;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 100%;
    padding: 16px 16px 30% 16px;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.content-section {
    flex: 30%;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000;
}

.form-section {
    flex: 50%;
    padding: 20px;
    width: 100%;
    max-width: 400px;
}

#registerForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-input {
    background-color: #E5E5E5;
    border: none;
    padding: 15px;
    font-size: 1rem;
    border-radius: 8px;
    width: 100%;
}

.button-register {
    background-color: #393433;
    color: white;
    border: none;
    padding: 15px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
}

.button-register:hover {
    opacity: 0.9;
}

a {
    color: #393433;
    text-decoration: underline;
    margin-top: 20px;
    display: inline-block;
    transition: opacity 0.3s;
}

a:hover {
    opacity: 0.8;
}