@import "/css/global.css";

.container {
  padding: 16px;
}

.calendar-section {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-container {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar {
  width: 100%;
  max-width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.calendar-header {
  color: #f5f5f5;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: color 0.3s ease;
  padding: 10px;
}

.calendar-header h2 {
  margin: 0;
  font-size: 1.2rem;
}

.calendar-grid-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
  color: #495057;
  font-size: 0.8rem;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2.5px;
  padding: 5px;
  width: 100%;
}

.calendar-day {
  position: relative;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  cursor: pointer;
  transition: all 0.2s;
  background: rgba(255, 255, 255, 0.7);
  font-size: 0.8rem;
}

.calendar-day:hover {
  background: rgba(255, 255, 255, 0.9);
  transform: scale(1.05);
}

.calendar-day.has-subject {
  background: red;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.calendar-day-number {
  position: absolute;
  top: 3px;
  left: 3px;
  font-size: 0.6rem;
  color: #666;
}

.calendar-day-subjects {
  position: absolute;
  bottom: 3px;
  left: 3px;
  font-size: 0.5rem;
  color: white;
}

.calendar-wrapper {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  scroll-behavior: smooth;
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}

.calendar-wrapper::-webkit-scrollbar {
  width: 8px;
}

.calendar-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.calendar-month {
  margin-bottom: 20px;
  transition: opacity 0.3s ease, filter 0.3s ease;
}

/* Responsive adjustments */
@media screen and (max-width: 400px) {
  .calendar-section,
  .calendar-container {
    padding: 5px;
  }

  .calendar-grid-header {
    font-size: 0.7rem;
  }

  .calendar-day {
    font-size: 0.7rem;
  }

  .calendar-day-number {
    font-size: 0.5rem;
  }

  .calendar-day-subjects {
    font-size: 0.4rem;
  }
}
