<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>minhas-faltas</title>
    <link rel="stylesheet" href="/login/login.css">
</head>
<body>
    <div class="container">
        <div class="content-section">
            <h2>Entre</h2>
        </div>
        <div class="form-section">
            <form id="loginForm">
                <input class="form-input" type="email" id="email" placeholder="E-mail" required>
                <input class="form-input" type="password" id="password" placeholder="Senha" required>
                <button class="button-login" type="submit">Entrar</button>
            </form>
            <a href="/auth/register/">Ainda não possui conta?</a>
        </div>
    </div>
    <script src="/login/login.js"></script>
</body>
</html>
